:root {
  --primary: #e93333;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #961d1d;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.1rem #852828;
  transform: scaleX(0);
  transition: 0.2s;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .toggle-menu {
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
  color: #fff;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.1;
}
.hero .content h1 span {
  color: var(--primary);
}
.hero .content p {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content a {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: rgba(1, 1, 3, 0.5);
}
.hero .content a:hover {
  background-color: #852828;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  /* background: linear-gradient(
    0deg,
    rgb(36, 36, 173) 6%,
    rgba(225, 225, 225, 0) 50%
  ); */
}

/* Temple Section */

.temple {
  padding: 8rem 7% 1.4rem;
  /* background-color: #265df2; */
}
.temple h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.temple h2 span {
  color: var(--primary);
}
.temple .row {
  display: flex;

  padding-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
}
.temple .row .card-pura {
  width: 32rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  margin: 4%;
  border: solid 0.1rem #2b2828;
}
.temple .row .image-content,
.temple .row .pura-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 1rem;
  border: 1rem solid var(--primary);
}
.temple .row .pura-content {
  background-color: #fff;
}

.temple .row .card-pura .image-content {
  position: relative;
  row-gap: 5px;
  padding: 1.5rem 0;
  background-color: var(--primary);
  border-radius: 1rem 1rem 0 0;
}
.temple .row .pura-image {
  position: relative;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 3px;
}
.temple .row .pura-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--primary);
}
.temple .row .name-pura {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.temple .row .description-pura {
  font-size: 14px;
  color: #161414;
  text-align: center;
}
.temple .row .button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: var(--primary);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.temple .row .button:hover {
  color: #852828;
}

/* Team Section */

.team {
  padding: 4rem 7% 1.4rem;
}

.team h2,
.history h2,
.galeries h2,
.location h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.team h2 span {
  color: var(--primary);
}
.team .content-team {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/team-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #ffffff;
}

.team .content-team .swiper-slide img {
  border-radius: 50%;
  width: 8rem;
  margin-top: 4rem;
}
.padding {
  padding: 1.5rem;
}

/* Hero Pura */

.hero-pura-dalem {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero-pura-dalem.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}
.hero-pura-puseh {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero-pura-puseh&desa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero-pura-dalem .content-hero,
.hero-pura-puseh .content-hero {
  padding: 1.4rem 7%;
  max-width: 100rem;
}

.hero-pura-dalem .content-hero h1,
.hero-pura-puseh .content-hero h1 {
  font-size: 4em;
  color: #fff;
  /* text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
  line-height: 1.1;
}
.hero-pura-dalem .content-hero h1 span,
.hero-pura-puseh .content-hero h1 span {
  color: var(--primary);
}
.hero-pura-dalem .content-hero p,
.hero-pura-puseh .content-hero p {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  /* text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
  /* mix-blend-mode: difference; */
}

.hero-pura-dalem .content-hero a,
.hero-pura-puseh .content-hero a {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: rgba(1, 1, 3, 0.5);
}
.hero-pura-dalem .content-hero a:hover,
.hero-pura-puseh .content-hero a:hover {
  background-color: #852828;
}

.hero-pura-dalem::after,
.hero-pura-puseh::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
}
.galeries .swiper {
  width: 100%;
  height: 90vh;
}

.galeries .swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  background: #fff;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.galeries .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center; */
}

/*  History Pura */

.history,
.galeries,
.location {
  padding: 8rem 7% 1.4rem;
}

.history h2 span,
.location h2 span,
.galeries h2 span {
  color: var(--primary);
  font-size: 2.6rem;
}

.history .row {
  display: flex;
}
.history .row .history-img {
  flex: 1 1 45rem;
}
.history .row .history-img img {
  width: 100%;
  border-radius: 4rem;
}
.history .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  color: #f0f0f0;
}
.history .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.history .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
}

/* Galeries section */
.galeries .galery-content {
  margin-bottom: 2rem;
}
.galeries .galery-content .galery-icon {
  background-color: #000000;
  padding: 0.3rem;
}

/* Location Section */
.location .row {
  display: flex;
  margin-top: 2rem;
  background-color: #2b2828;
  /* flex-wrap: wrap; */
}
.location .row .map {
  flex: 1 1 40rem;
  width: 100%;
  object-fit: cover;
  padding: 0.8rem;
}
.location .denah {
  padding: 2rem;
  margin-bottom: 3rem;
}
.location .denah p {
  align-items: center;
  color: #ebebeb;
}
.location .denah img {
  flex: 1 1 30rem;
  width: 100%;
  object-fit: cover;
  padding-top: 1rem;
}
/* Footer Section */

footer {
  background-color: var(--primary);
  text-align: center;
  /* margin-top: 3rem; */
  padding: 1rem 0 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}
footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .credit {
  padding: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  /* font-weight: 700; */
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 10% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 82%;
  height: 75%;
  animation: animateModal 0.5s;
}
/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.modal-content h3 {
  font-size: 2.5rem;
}
.modal-content img {
  height: 24rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}
.modal-content p span {
  font-weight: bold;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}
/* Media Queries */

/* Laptop */
@media (max-width: 1336px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
    /* padding-right: 1rem; */
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--bg);
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .temple .row {
    flex-wrap: wrap;
  }

  .team .content-team .swiper-slide img {
    border-radius: 50%;
    width: 20%;
    margin-top: 10rem;
  }

  .history .row {
    flex-wrap: wrap;
  }
  .history .row img {
    /* height: 24rem; */
    object-fit: cover;
    /* object-position: center; */
  }
  .hero-pura-dalem {
    height: 100vh;
  }
  .galeries .swiper {
    width: 100%;
    height: 30vh;
  }
  .location .row {
    flex-wrap: wrap;
  }
  .modal-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
